.git
.dvc
.venv
__pycache__
*.pyc
*.pyo
*.pyd

notebooks/
data/
papers/
mlartifacts/
mlruns/

*.csv
*.ipynb
*.parquet

frontend/
nginx/
deps.txt
models/
dvc_local_storage/
conversations/
claude_context/
