dvc_local_storage/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

models/*.pt
models/*.bin

# MLflow
mlruns/
mlartifacts/

dvclive/

.env
*.env

.idea/
.DS_Store
.dvc/config
papers/
context/
conversations/
*.pt
CLAUDE.md

