dvc_local_storage/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

models/*.pt
models/*.bin
models/qwen_lora/


# MLflow
mlruns/
mlartifacts/

dvclive/

.env
*.env

.idea/
.DS_Store
.dvc/config
papers/
claude_context/
conversations/
*.pt
CLAUDE.md

*.pem
*.pem.pub

.secrets


